<div class="body_wrapper">
    <div class="registration">
        <RegistrationForm
        @onSubmit = {{this.registerUser}}
        ></RegistrationForm>
    </div>
    <div class="login">    
        <LoginForm
        @onSubmit = {{this.loginUser}}
        ></LoginForm>
    </div>
    {{#if this.session.isAuthenticated}}
        <p>You are Authenticated</p>
    {{else}}
        <p>You are NOTAuthenticated</p>
    {{/if}}
</div>