<div class="body_wrapper">
    <div class="registration">
        <RegistrationForm
        @onSubmit = {{this.registerUser}}
        ></RegistrationForm>
    </div>
    <div class="login">    
        <LoginForm
        @onSubmit = {{this.loginUser}}
        ></LoginForm>
    </div>
</div>